<div class="module-header">
    <div class="left">
        <h3>{{formTitulo}}</h3>
    </div>
    <div class="right">
        <button mat-raised-button color="primary">
            Guardar
        </button>        
    </div>
</div>
<hr />
<div class="form-container">
    <form class="form" [formGroup]="tipoDocColabForm">

        <mat-form-field style="width: 400px;">
            <mat-label>Nuevo Documento:</mat-label>
            <input matInput type="text" name="nombredocumento"
            formControlName="nombredocumento">
        </mat-form-field>
    </form>
</div>